/* 次栏 */
.buju{
    width: 1039PX;
    margin: 0 auto;
}
.buju a:hover{
    color: rgb(111, 202, 232);
    transition: color,0.3S;
}
.cilan{
    width: 1039px;
    text-align: center;
    padding: 20px 0;
    vertical-align: middle;
}
.cilan-diyibufen{
    width: 220px;
    height: 68px;
    display: inline-block;
}
.cilan-diyibufen ul{
    width: 220px;
    height: 68px;
}
.cilan-diyibufen li{
    width: 50px;
    height: 68px;
    text-align: center;
    display: inline-block;
}
.cilan-dierbufen{
    width: 549px;
    height: 68px;
    display: inline-block;
}
.cilan-dierbufen-div,.cilan-dierbufen-guochuang{
    width: 61px;
    height: 34px;
    display: inline-block;
    font-size: 14PX;

}
.cilan-dierbufen em{
    font-style: normal;
    font-size: 12px;
    display: inline-block;
    background: #73c9e5;
    border-radius: 2px;
    color: #fff;
    margin-left: 1px;
    transform: scale(.85);
    width: 32px;
    text-align: center;
}
.cilan-dierbufen span{
    width: 61PX;
}
.cilan-dierbufen-guochuang{
    position: relative;
}
.cilan-dierbufen-gcxialatiao{
    display: none;
    position: absolute;
    color: white;
    border-radius: 3PX;
    background-color: rgb(255, 255, 255);
    box-shadow: 0PX 0px 15px rgba(0, 0, 0, .3);
    border-radius: 3px;
    z-index: 999;
    left: -50PX;
    top: -150PX;
} 
.cilan-dierbufen-sanjiao{ 
   display: none;
   height: 0PX;
   width: 0PX;
   border-right:20px solid transparent;
   border-left:20px solid transparent;
   border-top:20px solid rgba(224, 224, 224,.3);
   position: absolute;
   z-index: 999;
   top: -20PX;
   left: -6PX;
} 
.cilan-dierbufen-gcxialatiao div{
    height: 20PX;
    width: 90PX;
    display: inline-block;
    margin: 12PX 5PX;
}
.cilan-dierbufen-guochuang:hover .cilan-dierbufen-gcxialatiao{
    display:block;
}
.cilan-dierbufen-guochuang:hover .cilan-dierbufen-sanjiao{
    display:block;
}
.cilan-disanbufen{
    width: 220px;
    height: 68px;
    display:inline-block;

}
.cilan-disanbufen div {
    width: 57.2px;
    height: 34px;
    display: inline-block;
    font-size: 14PX;
    vertical-align: middle;
}
.cilan-disanbufen span *{
    display: inline-block;
    vertical-align: middle;
}
.cilan-disanbufen img{
    width: 20px;
    height: 24px;
}
