<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="../public/picture/bitbug_favicon.ico" />
    <style>
        body {
            background-color: rgb(206, 241, 228);
        }
        
        p {
            text-align: center;
            font-size: 40PX;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <p>首页</p>
    <a href="./login" style="text-decoration: none;">{{ pending }}</a>
    <span>{{ success }}</span>
    <a href="./logout" style="text-decoration: none;">{{ logout }}</a>
</body>

</html>